html {
  font-family: 'Open Sans', sans-serif;
}

body{
  margin: 0px;
}
.content{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  margin-left: 256px;
}
/* List items*/
li.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form {
  margin: 10px 0px;
}

/*transition animations*/
.fade-enter{
  opacity: 0.01;
  transition: opacity .5s ease-in;
}
.fade-enter-active{
  opacity: 1;
}
.fade-leave{
  opacity: 1;
  transition: opacity .5s ease-in;
}
.fade-leave-active{
  opacity: .01;
}

.material-ui-button{
  margin: 5px;
}

.title{
  text-align: center;
}
